@font-face {
  font-family: "Lora Bold", serif;
  src: url("../fonts/Lora-Bold.ttf");
}
@font-face {
  font-family: "Lora Regular", serif;
  src: url("../fonts/Lora-Regular.ttf");
}
@font-face {
  font-family: "Spartan", serif;
  src: url("../fonts/Spartan.ttf");
}
@font-face {
  font-family: "Roboto Bold", serif;
  src: url("../fonts/Roboto-Bold.ttf");
}
html {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

main {
  background-color: #f8f9fa;
}

.topic {
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  color: #fff;
  background: rgba(255, 255, 255, 0.15);
  font-family: "Roboto Bold", serif;
  font-size: 10px;
  font-weight: 700;
}

.header-font {
  font-family: "Lora Bold", serif;
  font-size: 36px;
  font-weight: 700;
}

.image-header {
  color: #fff;
}

.main-text {
  font-family: "Lora Regular", serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.bg-image {
  background-position: 50%;
  background-size: cover, auto;
  background-repeat: no-repeat;
  min-height: 600px;
}

.header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(52, 58, 64, 0.3), rgba(52, 58, 64, 0.3)), url("../img/main.jpg");
}

.header-nav-background {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1300px;
  min-height: 80px;
}

.header-icon {
  margin-right: 727px;
  color: #f8f9fa;
  font-family: Spartan;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.header-menu {
  display: flex;
  flex-direction: row;
}
.header-menu ul {
  display: flex;
  justify-content: space-around;
  width: 244px;
  list-style-type: none;
  border-right: 0.5px solid #e5e5e5;
}
.header-menu li {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease;
}
.header-menu li a {
  color: #e5e5e5;
}
.header-menu li:hover {
  position: relative;
  color: #fff;
  border-bottom: 2px solid #d4a373;
}

.header-social ul {
  display: flex;
  justify-content: space-around;
  width: 172px;
  padding: 0px 17px;
  border-right: 0.5px solid #e5e5e5;
  list-style-type: none;
}
.header-social ul li {
  height: 20px;
  width: 20px;
}

.header-search {
  margin: 0 17px;
}

.header-slider {
  display: flex;
  align-self: center;
  min-width: 1300px;
  color: #fff;
}

.image-description {
  margin-top: 200px;
}

.image-category {
  width: -moz-fit-content;
  width: fit-content;
}

.main-image-header {
  display: block;
  margin-bottom: 15px;
  max-width: 530px;
}

.image-sub-description {
  display: flex;
  align-items: flex-start;
  color: #e5e5e5;
}

.image-line {
  margin: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  width: 30px;
  height: 1px;
}

.image-text {
  display: flex;
  max-width: 420px;
}

.popular-topics {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  padding: 150px 0;
  margin: 0 auto;
}

.topics-header {
  color: #495057;
  margin-bottom: 30px;
}

.topics-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #495057;
}
.topics-nav ul {
  display: flex;
}
.topics-nav ul li {
  margin: 0 10px;
}
.topics-nav ul li:first-child {
  margin-left: 0;
}
.topics-nav ul li:hover {
  color: #d4a373;
  cursor: pointer;
}
.topics-nav .all-topics:hover {
  color: #d4a373;
  cursor: pointer;
}

.topics-card-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.topic-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  max-width: 310px;
  max-height: 565px;
  position: relative;
  background-color: #ffffff;
}

.card-image-wrapper {
  height: 280px;
  width: 310px;
}

.card-image-topic-wrapper {
  display: flex;
  position: absolute;
  top: 20px;
  right: 5px;
}

.card-image-topic {
  margin: 0 5px 0 5px;
}

.card-image {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-date {
  display: block;
  margin: 20px 0 0 20px;
  color: #6c757d;
  font-size: 12px;
  font-weight: 400px;
}

.card-header {
  display: block;
  margin: 15px 20px;
  color: #6c757d;
  font-size: 18px;
  font-weight: 700px;
  line-height: 25px;
}

.card-text {
  display: block;
  margin: 0 20px;
  color: #6c757d;
  padding-bottom: 19px;
  border-bottom: 0.5px solid #e5e5e5;
}

.card-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 20px;
}

.author-photo {
  margin-right: 17px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.author-name {
  color: #343a40;
}

.author-profession {
  color: #6c757d;
}

.big-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(52, 58, 64, 0.5), rgba(52, 58, 64, 0.5)), url("../img/bigPost.jpg");
}

.big-post-topic {
  display: flex;
  margin-bottom: 24px;
}

.big-post-header {
  max-width: 530px;
  text-align: center;
  margin-bottom: 13px;
}

.big-post-text,
.big-post-date {
  color: #e5e5e5;
  max-width: 420px;
  text-align: center;
}

.big-post-line {
  margin: 24px 0 15px 0;
  width: 30px;
  height: 1px;
  background-color: #e5e5e5;
}

.editors-pick {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
  padding: 150px 0;
}

.editors-pick-header {
  color: #495057;
  margin-bottom: 70px;
}

.editors-pick-cards-container {
  display: flex;
  justify-content: space-between;
}

.editor-pick-card-wrapper {
  width: 420px;
  height: 350px;
  position: relative;
}

.editor-pick-card-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: inherit;
  width: inherit;
  background: rgba(52, 58, 64, 0.4);
}

.editor-pick-card-topic {
  align-self: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px 30px 116px 0;
}

.editor-pick-card-image {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.editor-pick-card-date {
  color: #e5e5e5;
  margin-left: 40px;
}

.editor-pick-card-header {
  display: block;
  font-size: 18px;
  color: #fff;
  max-width: 270px;
  line-height: 25px;
  margin: 15px 0 15px 40px;
}

.editor-pick-card-text {
  display: block;
  color: #e5e5e5;
  max-width: 300px;
  margin-left: 40px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  background-color: #212529;
  max-height: 400px;
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 106px auto;
}

.footer-section ul {
  color: #e5e5e5;
}
.footer-section ul li {
  margin-bottom: 18px;
  max-width: 114px;
}

.footer-header {
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 16px;
}

.footer-social {
  display: flex;
}
.footer-social li {
  margin-right: 18px;
}

.sub-footer-wrapper {
  background-color: #343a40;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  color: #e5e5e5;
  margin: 41px auto;
}

.sub-footer-copyright {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */